div {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto Mono", sans-serif;
	margin: 0;
}

.imageradius {
	border-radius: 50%;
}

.greetbox {
	display: flex;
	flex-direction: row;
	
}

.greetheader {
	text-align: center;
}

.greetcontainer {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-top: 5%;

}

.emptybox {
	width: 5%;
	height: 100px;
	background-color: white;
}

.greetphotobox {
	width: 40%;
	border: 2px solid black;
	align-items: center;
}

.greetphotocontentbox {
	margin: 2%;
	background-color: grey;
	display: flex;
	flex-direction: column;

}

.greetinfobox {
	min-height: 100px;
	width: 50%;
	border: 2px solid black;
	align-items: center;
}	

.topbar {
	background: #FFCC99;
	background-position: center;
	background-size: 100%;
	display: flex;
	justify-content: center;
	height: 400px;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
}

.topbaremptybox {
	height: 130px;
	width: 35%
}

.topbarcontent {
	width: 30%;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 20px;
}

.topbarlogo {
	width: 25%;
}

.aboutphotobox {
	height: 100px;
	width: 45%;
	background-color: green;
}

.aboutinfobox {
	height: 100px;
	width: 45%;
	background-color: red;
}	

.aboutheader {
	text-align: center;
}

.aboutcontainer {
	display: flex;
	align-items: center;
	justify-content: center;

}

.thissiteisforphotobox {
	height: 100px;
	width: 45%;
	background-color: green;
}

.thissiteisforinfobox {
	height: 100px;
	width: 45%;
	background-color: red;
}	

.thissiteisforheader {
	text-align: center;
}

.thissiteisforcontainer {
	display: flex;
	align-items: center;
	justify-content: center;

}

.contactsphotobox {
	height: 100px;
	width: 45%;
	background-color: green;
}

.contactsinfobox {
	height: 100px;
	width: 45%;
	background-color: red;
}	

.contactsheader {
	text-align: center;
}

.contactscontainer {
	display: flex;
	align-items: center;
	justify-content: center;

}

.decoborder {
	margin-top: -2px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.decoborder div {
	width: 10px;
	border: 1px solid black;
	transform: rotate(45deg);
}